.header {
    padding: 20px 10px;
    text-align: left;

    .instagramLogo {
        width: auto;
        height: 32px;
    }

    .userIconContainer {
        display: flex;
        gap: 6px;
        overflow-x: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        margin-top: 10px;

        .userDetails{
            span {
                color: #000;
                white-space: nowrap;
                font-size: 12px;
            }
        }

        .userIcon {
            display: inline-block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: radial-gradient(white 65%, transparent 0), linear-gradient(to top right, orange, deeppink);

            img {
                display: block;
                height: 100%;
                object-fit: cover;
                clip-path: circle(42%);
            }


        }
    }
}

.storyContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.storyHeader {
    position: absolute;
    top: 20px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;

    .closeButton {
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        font-weight: 700;
        cursor: pointer;
    }
}

.selecteduser {
    display: flex;
    align-items: center;
    gap: 10px;
    align-items: center;

    .selecteduserIcon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .selecteduserName {
        color: white;
        font-size: 16px;
        font-weight: 600;
    }
}

.progressBarContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;

    .progressBar {
        flex-grow: 1;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.5);
        margin: 0 5px;
        border-radius: 2px;
        overflow: hidden;

        div {
            width: 0%;
        }
    }

    .progressBarFill {
        height: 100%;
        background-color: #ffffff;
        width: 0%;
    }
    .proggressBarAnimation {
        transition: width 5s linear;
    }
}

.hidden {
    display: none !important;
}
